/venv
# Miscellaneous
others/android-front/signpred/*.class
others/android-front/signpred/*.log
others/android-front/signpred/*.pyc
others/android-front/signpred/*.swp
others/android-front/signpred/.DS_Store
others/android-front/signpred/.atom/
others/android-front/signpred/.build/
others/android-front/signpred/.buildlog/
others/android-front/signpred/.history
others/android-front/signpred/.svn/
others/android-front/signpred/.swiftpm/
others/android-front/signpred/migrate_working_dir/
others/android-front/signpred/backend/secret.env

# IntelliJ related
others/android-front/signpred/*.iml
others/android-front/signpred/*.ipr
others/android-front/signpred/*.iws
others/android-front/signpred/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#others/android-front/signpred/.vscode/

# Flutter/Dart/Pub related
others/android-front/signpred/**/doc/api/
others/android-front/signpred/**/ios/Flutter/.last_build_id
others/android-front/signpred/.dart_tool/
others/android-front/signpred/.flutter-plugins
others/android-front/signpred/.flutter-plugins-dependencies
others/android-front/signpred/.pub-cache/
others/android-front/signpred/.pub/
others/android-front/signpred//build/

# Symbolication related
others/android-front/signpred/app.*.symbols

# Obfuscation related
others/android-front/signpred/app.*.map.json

# Android Studio will place build artifacts here
others/android-front/signpred/android/app/debug
others/android-front/signpred/android/app/profile
others/android-front/signpred/android/app/release
